/*
* Skeleton V2.0.4
* Copyright 2014, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 12/29/2014
*/

/* Grid
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box; }
.column,
.columns {
  width: 100%;
  float: left;
  box-sizing: border-box; }

.row {
}

.divider{
  margin-bottom: 96px;
  padding-top: 16px;
  font-size: 1em;
}


/* For devices larger than 400px */
@media (min-width: 400px) {
  .container {
    padding: 0; 
  }
}

/* For devices larger than 550px */
@media (min-width: 550px) {
  .container {}
  .column,
  .columns {
    margin-left: 4%; }
  .column:first-child,
  .columns:first-child {
    margin-left: 0; }

  .one.column,
  .one.columns                    { width: 4.66666666667%; }
  .two.columns                    { width: 13.3333333333%; }
  .three.columns                  { width: 22%;            }
  .four.columns                   { width: 30.6666666667%; }
  .five.columns                   { width: 39.3333333333%; }
  .six.columns                    { width: 48%;            }
  .seven.columns                  { width: 56.6666666667%; }
  .eight.columns                  { width: 65.3333333333%; }
  .nine.columns                   { width: 74.0%;          }
  .ten.columns                    { width: 82.6666666667%; }
  .eleven.columns                 { width: 91.3333333333%; }
  .twelve.columns                 { width: 100%; margin-left: 0; }

  .one-third.column               { width: 30.6666666667%; }
  .two-thirds.column              { width: 65.3333333333%; }

  .one-half.column                { width: 48%; }

  /* Offsets */
  .offset-by-one.column,
  .offset-by-one.columns          { margin-left: 8.66666666667%; }
  .offset-by-two.column,
  .offset-by-two.columns          { margin-left: 17.3333333333%; }
  .offset-by-three.column,
  .offset-by-three.columns        { margin-left: 26%;            }
  .offset-by-four.column,
  .offset-by-four.columns         { margin-left: 34.6666666667%; }
  .offset-by-five.column,
  .offset-by-five.columns         { margin-left: 43.3333333333%; }
  .offset-by-six.column,
  .offset-by-six.columns          { margin-left: 52%;            }
  .offset-by-seven.column,
  .offset-by-seven.columns        { margin-left: 60.6666666667%; }
  .offset-by-eight.column,
  .offset-by-eight.columns        { margin-left: 69.3333333333%; }
  .offset-by-nine.column,
  .offset-by-nine.columns         { margin-left: 78.0%;          }
  .offset-by-ten.column,
  .offset-by-ten.columns          { margin-left: 86.6666666667%; }
  .offset-by-eleven.column,
  .offset-by-eleven.columns       { margin-left: 95.3333333333%; }

  .offset-by-one-third.column,
  .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
  .offset-by-two-thirds.column,
  .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }

  .offset-by-one-half.column,
  .offset-by-one-half.columns     { margin-left: 52%; }

}


/* Base Styles
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/* NOTE
html is set to 62.5% so that all the REM measurements throughout Skeleton
are based on 10px sizing. So basically 1.5rem = 15px :) */

body {
  font-size: 1em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.6;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  color: #ffffff; 
  background-color: #F9FB00;
}


/* Typography
–––––––––––––––––––––––––––––––––––––––––––––––––– */
h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 2rem;
  font-weight: 300; 
  font-family: 'Philosopher', sans-serif;
  color: #3B4CFF;
  font-weight: 100;
}

h1 { font-size: 1.9rem; line-height: 1.1;  letter-spacing: 0rem;}
h2 { font-size: 1.7rem; line-height: 1.0; letter-spacing: -.1rem; }
h3 { font-size: 1.4rem; line-height: 1.0;  letter-spacing: -.1rem; }
h4 { font-size: 1.2rem; line-height: 1.0; letter-spacing: -.08rem; }
h5 { font-size: 1.1rem; line-height: 1.5;  letter-spacing: -.05rem; }
h6 { font-size: 1.0rem; line-height: 1.6;  letter-spacing: 0; }

/* Larger than phablet */
@media (min-width: 550px) {
  h1 { font-size: 1.8rem; }
  h2 { font-size: 1.5rem; }
  h3 { font-size: 1.2rem; }
  h4 { font-size: 1.1rem; }
  h5 { font-size: 1.0rem; }
  h6 { font-size: 0.9rem; }
}

p {
  margin-top: 0; 
}

/* Links
–––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
  color: #0942E0;
  text-decoration: none; 
}
a:hover {
  color: #3369FF; }

.zmdi {
  margin-left:8px;
}

/* Buttons
–––––––––––––––––––––––––––––––––––––––––––––––––– */
.button,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  display: block;
  color: #ffffff;
  margin:32px 0px;
  padding: 4px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #0942E0;
  border-radius: 0px;
  border: 0px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;
   }
.button:hover,
button:hover,
input[type="submit"]:hover,
input[type="reset"]:hover,
input[type="button"]:hover,
.button:focus,
button:focus,
input[type="submit"]:focus,
input[type="reset"]:focus,
input[type="button"]:focus {
  color: #0942E0;
  background-color: #F9FB00;
  border-color: #F9FB00;
  outline: 0; }
.button.button-primary,
button.button-primary,
input[type="submit"].button-primary,
input[type="reset"].button-primary,
input[type="button"].button-primary {
  color: #FFF;
  background-color: #373835;
  border-color: #33C3F0;
  margin-bottom: 128px; }
.button.button-primary:hover,
button.button-primary:hover,
input[type="submit"].button-primary:hover,
input[type="reset"].button-primary:hover,
input[type="button"].button-primary:hover,
.button.button-primary:focus,
button.button-primary:focus,
input[type="submit"].button-primary:focus,
input[type="reset"].button-primary:focus,
input[type="button"].button-primary:focus {
  color: #fff;
  background-color: #3369FF;
}

/* Clearing
–––––––––––––––––––––––––––––––––––––––––––––––––– */

/* Self Clearing Goodness */
.container:after,
.row:after,
.u-cf {
  content: "";
  display: table;
  clear: both; }


/* Media Queries
–––––––––––––––––––––––––––––––––––––––––––––––––– */
/*
Note: The best way to structure the use of media queries is to create the queries
near the relevant code. For example, if you wanted to change the styles for buttons
on small devices, paste the mobile query code up in the buttons section and style it
there.
*/

#logo {
  width: 24px;
  float: left;
  padding-left: 32px;
  padding-top:32px;
}

#hero {
  height:100vh;
}

#intro {
  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  color: #3B4CFF;
  padding: 0px 32px;
}

#intro h1 {
  max-width: 420px;
}

#intro p {
  margin-top:160px;
  font-size:16px;
}

#content {
  padding: 64px 0px;
  background-color: #ffffff;
  margin:0px auto;
}

#content img {
  width:100%;
}

#content h2 {
  color:#000000;
  letter-spacing: 0.1px;
  margin-top: 8px;
}

#content p {
  color:#33320C;
  font-size: 14px;
  margin:0;
}

.project {
  padding:32px 32px;
}

.project p{
  
}

.project img {
  float:left;
}

.coming-soon{
  opacity: 0.2;
}

#about {
  background-color: #f9f9f9;  
  color: #757575;
  padding: 64px 32px;
}

#about h2 {
  color: #424242;
  letter-spacing: -0.1px;
  line-height: 120%;
  max-width: 460px;
}

#about h3 {
  color: #424242;
  letter-spacing: 0.1px;
}

#about ul {
  list-style-type: none;
  margin:0;
  padding: 0;
  padding-bottom: 32px;
}

footer {
  background-color: #0201FC;
  padding: 32px 32px;
  font-size: 14px;
}

footer a {
  color: #F9FB00;
}

footer p {
}

footer ul {
  list-style-type: none;
  padding: 0;
  margin-top:0;
}

footer li{
  margin:0;
}

#project-hero {
  height:100vh;
  background-color: #ffffff;
}

#project-intro {
  position:absolute;
  top:100vh;
  transform:translateY(-100%);
  color: #000;
  padding: 0px 32px;
}

#project-intro h1 {
  font-size: 1.4rem;
  max-width: 420px;
  color: #000;
  margin-bottom: 16px;
}

#project-intro h2 {
  font-size: 1.2rem;
  color:#000000;
  letter-spacing: 0.1px;
}

#project-intro p {
  margin-bottom: 4px;
}

#project-intro .zmdi {
  margin-bottom: 10%;
}

.project-images{
  background-color: #fff;
}

.project-images img{
  padding: 8px 32px;
}

.process {
  background-color: #fff;
  color: #000;
  padding: 32px 32px;
}

.process h2 {
  font-size: 1.3rem;
  letter-spacing: 0.1px;
  line-height: 1.2em;
  color: #000;
  margin-bottom: 16px;
}

.project-link {
  display: block;
  color: #ffffff;
  margin:32px 0px;
  padding: 4px 32px;
  text-align: center;
  font-size: 16px;
  line-height: 46px;
  letter-spacing: 0rem;
  text-decoration: none;
  white-space: nowrap;
  background-color: #0942E0;
  border-radius: 0px;
  border: 0px solid #bbb;
  cursor: pointer;
  box-sizing: border-box;
  font-family: 'Philosopher', sans-serif;  
}

.project-link:hover,
.project-link:focus {
  color: #0942E0;
  background-color: #F9FB00;
  border-color: #F9FB00;
  outline: 0;  
}

/* Larger than mobile */
@media (min-width: 400px) {
}

/* Larger than phablet (also point when grid becomes active) */
@media (min-width: 550px) {
  #intro {
    right:0;
    padding-left:0px;
  }
  
  #content h2{
    margin-top: 4px;
  }

  .projectSet {
    padding:0px 32px;
  }

  .project {
    padding:32px 0px;
  }

  .project img {
    float:left;
  }

  .project-images iframe {
    float:left;
    display:block;
  }

  #project-intro {
    right:0;
  }
  
  .project-images img {
  }
  
  #project-intro h1{
  }

  #project-intro h2{
    font-size: 1.3rem; 
    margin-top: 4px;
  }

  #project-intro p{
    margin: 0;
    max-width: 460px;
  }

  #project-intro .zmdi {
    margin-top:64px;
    margin-bottom:64px;
    font-size:20px;
  }

  .project-link{
    max-width: 200px;
  }

  .process {
    max-width: 420px;
    padding: 64px 0px;
  }
}

/* Larger than tablet */
@media (min-width: 750px) {}

/* Larger than desktop */
@media (min-width: 1000px) {}

/* Larger than Desktop HD */
@media (min-width: 1200px) {
}


/* SVG Blog animations
–––––––––––––––––––––––––––––––––––––––––––––––––– */

#background-blob {
  position:absolute;
  top:4%;
  left:0;
  width:94%;
  height:96%;
  padding-left:6%;
  z-index: -2;
}

@media (min-width: 550px) {
  #background-blob {
    width:90%;
    height:99%;  
    top:1%;
    padding-left:10%;
    overflow:hidden;
  }
}